/* base */
body {
  background-image: url('/img/geometry2.png');
}

/* anchors */
a,
a:visited {
	background-color: #3a3721;
  color: #fff2fd;
  background-image: none;
  text-decoration: underline;
}

a:hover {
	background-color: #fff2fd;
  color: #3a3721;
  background-image: none;
  text-decoration: underline;
}

/* navbar */
nav a,
nav a:visited {
  color: #3a3721;
  text-decoration: none;
  background-color: white;
}

/* blockquote */
blockquote {
  font-style: italic;
}

/* post list */
.post-list {
  font-size: 2em; 
}


/* post single */
.post-title {
  margin-bottom: 0.1em; 
}

/* toc */
.toc {
  padding: 1em;
  margin-top: 1em;
}
.toc h2 {
  font-size: 1.3em;
}