@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');.text-primary {
  color: #f4f2de
}
.content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box; 
  padding:10px;
  }

  .top {  display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: 50px;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "title power";
  }

  .title { grid-area: title; }

  .power { grid-area: power; }

  .mid {  display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 50px;

    grid-auto-flow: row;
    grid-template-areas:
      "patches loading";
  }

  .patches { grid-area: patches; }

  .loading { grid-area: loading; }

  .cont {  display: grid;
    grid-template-columns: 350px 250px;
    grid-template-rows: 50px;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "controls seq";
  }
  
  .cont {  display: grid;
    grid-template-columns: 350px 250px;
    grid-template-rows: 50px 150px;
    grid-auto-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "controls seq"
      "text text";
  }

  .controls {  display: grid;
    grid-template-columns: 38.18px 38.8px 38.8px 38.8px 38.8px 38.8px 38.8px 38.8px 38.8px;
    grid-template-rows: 120px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "c1 c2 c3 c4 c5 c6 c7 c8 c9";
    grid-area: controls;
	padding-left:30px;
  }

  .c1 { grid-area: c1; }
  .c2 { grid-area: c2; }
  .c3 { grid-area: c3; }
  .c4 { grid-area: c4; }
  .c5 { grid-area: c5; }
  .c6 { grid-area: c6; }
  .c7 { grid-area: c7; }
  .c8 { grid-area: c8; }
  .c9 { grid-area: c9; }

  .seq { grid-area: seq; }

  .text { grid-area: text;
	  width:300px;
	  padding-top:100px;
	  padding-left:30px;
   }
  

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0em;
	    font-family: 'Nunito';
    font-weight: bold;
    color: black;

}
body  {
    font-family: 'Nunito';
    font-size: 1rem;
    line-height: 1.4;
    font-variant-ligatures: common-ligatures;
 color: #f4f2de;
 background-color: #32546d;
    
}

#container {
  overflow: hidden;
  width: 80%;
}


tone-play-toggle{

 color: blue;
    padding-top: 1.4em;
	margin-left:5%;
	
}


.seqcont {

  width:50%;

	
}


				.number-grid {
				display: grid;
	
  grid-template-columns: 7% 5% 8% 4% 8% 5% 8% 4% 9% 3% 9% 3% 10% 4% 7% 6%;
				}
			


				.gnum {
					flex: 1;
					margin: 1px;
					
				  text-align: center;
					background-color: #fff;
					transition: background-color 0s;
				}

			
  




/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 0px 14px;
  text-align: left;
  font-size:0.8rem;
   }
th:first-child,
td:first-child {
}
th:last-child,
td:last-child {
 }
  
table {
  padding: 1.1em;

  }
  
.dropbtn {
	background-color: #1f214c;
	color: #f4f2de;
font-size: 1rem;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.dropdown-content a {
	background-color: #1f214c;
	font-size: 0.7rem;
	color: #ecd7a1;
	
}

.dropdown-content p {
	background-color: #1f214c;
	font-size: 0.7rem;
	color: #ecd7a1;
	
}

.slist {
	background-color: #df9b67;
	padding: 0.8rem;
	margin-right:1rem;
	
}
.slist a {
	background-color: #df9b67;
	font-size: 0.8rem;
	color: #1f214c;
	
}

.slist h3 {

	font-size: 0.9rem;
	color: #fff;
	
}

.slist li{
margin-bottom: -0.1rem;
margin-left: -0.7rem;

	
}



.main {
	background-color: #32546d;
	padding-top:1.5rem;
			padding-bottom:4.5rem;



}

.bg {
	background-color: #1f214c;
	padding: 1rem;
	
}

.other {
	background-color: #87a28c;
	padding: 1rem;

	margin-left:1rem;
	
}

.seq {
	background-color: #87a28c;

	
}

.dropdown-content h3 {
	background-color: #1f214c;
	font-size: 0.8rem;
	color: #000;
	text-decoration: none;
	display: block;
	 padding: 0px;


}


.dropdown-content p:hover {
	background-color: #ccc;
}

.dropdown-content h3:hover {
	background-color: #ccc;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #1f214c;
}

.dropdown:hover .dropbtn {
	background-color: #fff;
}
 
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}